@import '@fontsource/montserrat';

$blue: #3A80BA;
$darkBlue: #1C3B55;
$lightGrey: #FBFBFB;
$darkGrey: #F1F1F1;
$white: #FFFFFF;
$textColor: #1A1A1A;
$placeholder: #979797;

$leftMargin: 10%;

$fontFamily: 'Montserrat';
